<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home Page</title>
</head>
<body>
<h1>You can find recipes here!</h1>
<h3>And here we go</h3>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
    <td th:text="${recipe.id}">ID</td>
    <td th:text="${recipe.description}">Description</td>
    </tr>
    </tbody>
</table>
<!--<img src="food.jpg" width="100%" height="100%">-->
</body>
</html>